/* Ensure the body and html take full height */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("./assets/images/backgroundImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-top: 15px;
}

@media screen and (min-width: var(--screen-laptop)) {
  .container {
    width: 60%;
  }
}

.basic-btn {
  all: unset;
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  transition: transform 0.1s ease;
  padding: 5px 4px;
  margin: 0 5px;
}

.basic-btn:hover{
  background-color: var(--basic-blue-faded);
}

.basic-btn:active{
  transform: scale(0.95);
}

.pos-btn {
  background-color: var(--basic-white);
  color: var(--basic-green);
  border: 1px solid var(--basic-green);
  padding: 5px;
}

.pos-btn:hover {
  background-color: var(--basic-green);
  color: var(--basic-white);
}



.neg-btn {
  background-color: var(--basic-white);
  color: var(--basic-red);
  border: 1px solid var(--basic-red);
  padding: 5px;
}

.neg-btn:hover {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.basic-inverted-btn {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: 1px solid var(--basic-blue);
  padding: 5px;
}

.basic-inverted-btn:hover {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}





